.App{
    .allCategories{
        span{
            display:inline-block;
            margin:10px 21px;
            font-size:12px;
        }
        span:nth-child(1){
            color:yellow;
        }

    }
    .Subscribe{

        .front-img{
            float:left;
            img{
                height:120px;
            }
        }
        .video-content{
            float:left;
            margin-left:10px;
            p{
                font-size:12px;
            }
        }
    }
    
}  
